<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <title>Finapps</title>
</head>
<body>
<div class="container col-sm-12">
<h1 class="text-center">Control</h1>
<table class="table table-striped">
<tr>
    <th>Date</th>
    <th>Amount</th> 
</tr>
{% for it in dades %}
    <tr>
        <td>
            {{ it.0 }}
        </td>
        <td>
            {{ it.1 }}€
        </td>
    </tr>
{% endfor %}
</table>
</body>
</html>